@media tv {
	.md {
		color: #000;
	}
}
@media screen {
@media (orientation: portrait) {
	.md {
		color: #000;
	}
	.xl {
		color: #1abc9c;
	}
@media (hover: hover) {
		.xs {
			color: #fff;
		}
		}
}
@media (min-width: 1280px) {
	.md {
		color: #000;
	}
	.md {
		color: #000;
	}
	@layer modifiers {
		.md {
			color: #000;
		}
	}
}
@media (max-width: 640px) {
	.md {
		color: #000;
	}
}
@media (orientation: landscape) {
	.md {
		color: #000;
	}
}
@media (min-width: 768px) {
	.md {
		color: #000;
	}
}
@media (width <= 1200px) {
	.md {
		color: #000;
	}
}
}
@supports (-moz-appearance: none) {
	.md {
		color: #000;
	}
	.xl {
		color: #1abc9c;
	}
}
@layer defaults {
	.md {
		color: #000;
	}
	.xs {
		color: #fff;
	}
	@supports (-moz-appearance: none) {
		.xs {
			color: #fff;
		}
	}
	.lg {
		color: red;
	}
}
.md {
	color: #000;
}
@media print {
	.md {
		color: #000;
	}
@media (orientation: portrait) {
	.md {
		color: #000;
	}
}
}
@layer modifiers {
	.md {
		color: #000;
	}
}
@media (hover: none) and (min-width: 577px) {
	.md {
		color: #000;
	}
}
@media only screen and (min-width: 769px) {
		@layer defaults {
		.sm {
			color: blue;
		}
		.xs {
			color: #fff;
		}
		}
}
