@media tv {
	.md {
		color: #000;
	}
}
@media screen {
@media (orientation: portrait) {
	.md {
		color: #000;
	}
@media (hover: hover) {
		.xs {
			color: #fff;
		}
		}
}
@media (min-width: 1280px) {
	.md {
		color: #000;
	}
		.md {
			color: yellow;
		}
}
@media (max-width: 640px) {
	.md {
		color: #000;
	}
}
@media (orientation: landscape) {
	.md {
		color: #000;
	}
}
@media (min-width: 768px) {
@media (width < 980px) {
		.xd {
			display: flex;
		}
		}
@media (max-width: 1080px) {
}
}
@media (min-width: 1080px) {
	@layer modifiers {
		.md {
			color: #000;
		}
	@layer modifiers.defaults {
			.not-lg {
				font-weight: bold;
			}
			}
	}
		.md {
			color: yellow;
		}
}
@media (max-width: 756px) {
		.md {
			position: relative;
		}
}
@media (1280px >= width > 576px) {
		.xl {
			position: relative;
		}
		.xl {
			position: absolute;
		}
}
@media (576px < height <= 1280px) {
		.xl {
			position: relative;
		}
		.xl {
			position: absolute;
		}
}
@media (width <= 1200px) and (width > 576px) {
		.xd {
			color: green;
		}
}
@media (min-width: print) and (min-width: 1080px) {
		.md {
			color: blueviolet;
		}
	}
@media (width < 980px) {
		.xd {
			color: blue;
		}
	}
}
@supports (-moz-appearance: none) {
	.md {
		color: #000;
	}
	.xl {
		color: #1abc9c;
	}
}
@layer defaults {
	@supports (-moz-appearance: none) {
		.xs {
			color: #fff;
		}
	}
	.lg {
		color: red;
	}
}
.md {
	color: #000;
}
@media print {
	.md {
		color: #000;
	}
@media (orientation: portrait) {
	.md {
		color: #000;
	}
}
}
@layer modifiers {
	.md {
		color: #000;
	}
}
@media (hover: none) and (min-width: 577px) {
	.md {
		color: #000;
	}
}
@media only screen and (min-width: 769px) {
		@layer defaults {
		.sm {
			color: blue;
		}
		.xs {
			color: #fff;
		}
		}
}
