{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"requireConfigFile": false,
		"sourceType": "module"
	},
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "plugins": [
    "jsdoc"
  ],
  "extends": [
		"@open-xamu-co/eslint-config",
    "plugin:jest/recommended",
    "plugin:jsdoc/recommended"
  ],
  "rules": {
    "jest/expect-expect": "off",
    "jsdoc/require-hyphen-before-param-description": [
      "warn",
      "always"
    ]
  }
}