{
  "root": true,
  "parserOptions": {
    "requireConfigFile": false,
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "plugins": [
    "jsdoc",
    "prettier"
  ],
  "extends": [
		"@open-xamu-co/eslint-config",
    "plugin:jest/recommended",
    "plugin:jsdoc/recommended"
  ],
  "rules": {
    "jest/expect-expect": "off",
    "jsdoc/require-hyphen-before-param-description": [
      "warn",
      "always"
    ]
  }
}